*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'sans-serif';
  font-size: 62.5%;
}
$black: #000000;

body {
  color: $black;
  display: flex;
  font-size: 2em;
  justify-content: center;
  margin: 0;
}

